* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    
}

/*Header */

#company-logo {
    width: 50px;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
}

header {
    background-color: rgb(248, 248, 248);
    position: fixed;
    top: 0;
    z-index: 99;
    border-bottom: solid 10px rgb(43, 43, 43);
}

#navbar {
    width: 100vw;
}

#nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    
}

#nav-links li {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 55px;
    padding-left: 55px;
}

#nav-links a {
    text-decoration: none;
    display: block;
    color: rgb(15, 15, 15);
    font-weight: bold; 
}

#nav-links li:hover {
    background-color: rgb(199, 199, 199);
}

/* Welcome Section */

#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: rgb(196, 196, 196);
    background-image: url("texture-1893783_1920.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 10px rgb(43, 43, 43); 

    
}

#welcome-header {
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
}

#welcome-titles {
    border: solid 7px rgb(231, 231, 231);
    border-radius: 13px;
    padding: 15px;
    background-color: rgb(199, 199, 199);
    
}

#welcome-titles a {
    text-decoration: none;
    color: inherit;
}

/* Project Section */
#projects {
    width: 100vw;
    background-color: rgb(221, 221, 221);
}


#projects-header {
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
    text-decoration: underline;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 50px;
    
}

.grid-item {
    border: 6px solid rgb(85, 85, 85);
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
}

.grid-item img {
    width: 35vw;
    height: 35vw;
    border-radius: 6px;
}

.grid-item h4 {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18px;
    color: rgb(216, 216, 216);
}

